interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?metadataPrefix=oai_dc&verb=ListIdentifiers
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2023-11-03T11:26:47Z</responseDate>\n  <request verb=\"ListIdentifiers\" metadataPrefix=\"oai_dc\">https://zenodo.org/oai2d</request>\n  <ListIdentifiers>\n    <header>\n      <identifier>oai:zenodo.org:6538892</identifier>\n      <datestamp>2022-05-11T13:49:36Z</datestamp>\n    </header>\n    <header>\n      <identifier>oai:zenodo.org:5783992</identifier>\n      <datestamp>2021-12-16T01:48:40Z</datestamp>\n    </header>\n    <header>\n      <identifier>oai:zenodo.org:7052211</identifier>\n      <datestamp>2022-10-08T23:36:09Z</datestamp>\n    </header>\n    <header>\n      <identifier>oai:zenodo.org:6615642</identifier>\n      <datestamp>2022-06-06T01:50:36Z</datestamp>\n    </header>\n    <header>\n      <identifier>oai:zenodo.org:6524784</identifier>\n      <datestamp>2022-05-07T01:49:14Z</datestamp>\n    </header>\n    <header>\n      <identifier>oai:zenodo.org:7726619</identifier>\n      <datestamp>2023-03-15T02:26:42Z</datestamp>\n    </header>\n    <header>\n      <identifier>oai:zenodo.org:7586802</identifier>\n      <datestamp>2023-02-28T16:37:46Z</datestamp>\n    </header>\n    <resumptionToken expirationDate=\"2023-11-03T11:28:47Z\" cursor=\"0\" completeListSize=\"3764573\">.eJytzNFOwjAUANB_uc-L2S0wsiU8QFyrU6cM27q-kEo7Nlc3s0GYEv5d_AHCg-cDzhF6aw1E_g0Gge-T0dk0HAUT9OBLby1ExIP6oLttD9ERPu1OG73TL50tqgEiaHW1Nhs4edBvuta5dXXOgDK3z8mAiokiJ-HeMDE2NEQjXX3bUFRvyUSw0r3XyhmWtvMh_17FeJfKLOdI-QrpvXaqzJqyECxZzP-8jqeZ_yS5TB4MSX74xyJTEou0WeKjEPFzjK25-ln-08MvP4fZDE6_ajBvsg.ZUTY9w.jPXJzpx38Q34h07Se9wFBVt4Wic</resumptionToken>\n  </ListIdentifiers>\n</OAI-PMH>\n"
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '1699012123'
    status_code: 200
version: 1
