interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?identifier=oai%3Azenodo.org%3A10357859&metadataPrefix=oai_dc&verb=GetRecord
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\" href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2023-12-22T15:28:51Z</responseDate>\n  <request verb=\"GetRecord\" identifier=\"oai:zenodo.org:10357859\" metadataPrefix=\"oai_dc\">https://zenodo.org/oai2d</request>\n  <GetRecord>\n    <record>\n      <header>\n        <identifier>oai:zenodo.org:10357859</identifier>\n        <datestamp>2023-12-11T17:26:46Z</datestamp>\n        <setSpec>software</setSpec>\n      </header>\n      <metadata>\n        <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n          <dc:creator>Klar, Jochen</dc:creator>\n          <dc:creator>Michaelis, Olaf</dc:creator>\n          <dc:creator>Wallace, David</dc:creator>\n          <dc:creator>Schröder, Max</dc:creator>\n          <dc:creator>Fütterer, Heinz-Alexander</dc:creator>\n          <dc:creator>Lanza, Giacomo</dc:creator>\n          <dc:creator>Martínez Muñoz, David</dc:creator>\n          <dc:creator>Pilori, Dario</dc:creator>\n          <dc:creator>Harry, Enke</dc:creator>\n          <dc:date>2023-12-11</dc:date>\n          <dc:description>&amp;lt;h2&amp;gt;&amp;lt;a href=\"https://github.com/rdmorganiser/rdmo/compare/2.0.2...2.1.0\"&amp;gt;RDMO 2.1.0&amp;lt;/a&amp;gt; (Dec 11, 2023)&amp;lt;/h2&amp;gt;\n&amp;lt;ul&amp;gt;\n&amp;lt;li&amp;gt;Refactor progress bar and overview&amp;lt;ul&amp;gt;\n&amp;lt;li&amp;gt;Fix the progress bar to consider tabs and conditions correctly&amp;lt;/li&amp;gt;\n&amp;lt;li&amp;gt;Show the project progress in the projects overview and the project hierarchy&amp;lt;/li&amp;gt;\n&amp;lt;li&amp;gt;Show wh[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?identifier=oai%3Azenodo.org%3A10357859&metadataPrefix=datacite&verb=GetRecord
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\" href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2023-12-22T15:28:51Z</responseDate>\n  <request verb=\"GetRecord\" identifier=\"oai:zenodo.org:10357859\" metadataPrefix=\"datacite\">https://zenodo.org/oai2d</request>\n  <GetRecord>\n    <record>\n      <header>\n        <identifier>oai:zenodo.org:10357859</identifier>\n        <datestamp>2023-12-11T17:26:46Z</datestamp>\n        <setSpec>software</setSpec>\n      </header>\n      <metadata>\n        <resource xmlns=\"http://datacite.org/schema/kernel-4\" xsi:schemaLocation=\"http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4.3/metadata.xsd\">\n          <identifier identifierType=\"DOI\">10.5281/zenodo.10357859</identifier>\n          <alternateIdentifiers>\n            <alternateIdentifier alternateIdentifierType=\"oai\">oai:zenodo.org:10357859</alternateIdentifier>\n          </alternateIdentifiers>\n          <creators>\n            <creator>\n              <creatorName nameType=\"Personal\">Klar, Jochen</creatorName>\n              <givenName>Jochen</givenName>\n              <familyName>Klar</familyName>\n              <nameIdentifier nameIdentifierScheme=\"ORCID\">0000-0002-5883-4273</nameIdentifier>\n            </creator>\n            <creator>\n              <creatorName nameType=\"Personal\">Michaelis, Olaf</creatorName>\n              <givenName>Olaf</givenName>\n              <familyName>Michaelis</familyName>\n              <nameIdentifier nameIdentifierScheme=\"ORCID\">0000-0002-5282-703X</nameIdentifier>\n            </creator>\n            <creator>\n              <creatorName nameType=\"Personal\">Wallace, David</[...]
