interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?identifier=oai%3Azenodo.org%3AXXX&metadataPrefix=oai_dc&verb=GetRecord
  response:
    content: <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2023-11-09T10:15:50Z</responseDate><request>https://zenodo.org/oai2d</request><error code="idDoesNotExist">No matching identifier</error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '1699525011'
    status_code: 422
version: 1
