interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=Identify
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2023-11-03T11:36:35Z</responseDate>\n  <request verb=\"Identify\">https://zenodo.org/oai2d</request>\n  <Identify>\n    <repositoryName>Zenodo</repositoryName>\n    <baseURL>https://zenodo.org/oai2d</baseURL>\n    <protocolVersion>2.0</protocolVersion>\n    <adminEmail>info@zenodo.org</adminEmail>\n    <earliestDatestamp>2014-02-03T14:41:33Z</earliestDatestamp>\n    <deletedRecord>no</deletedRecord>\n    <granularity>YYYY-MM-DDThh:mm:ssZ</granularity>\n  </Identify>\n</OAI-PMH>\n"
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '1699011456'
    status_code: 200
version: 1
