interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://httpbun.com/html?verb=Identify
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n<title>Httpbun sample</title>\n<body>\n  <h1>Some
        title</h1>\n  <p>Some paragraph</p>\n  <img src=x onerror='document.body.insertAdjacentText(\"beforeend\",
        \"inserted by img[onerror]\")'>\n  <script>document.write(\"inserted by script\")</script>\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.e-periodica.ch/oai/dataprovider?verb=Identify
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2026-03-15T07:54:25Z</responseDate>\n
        \ <request verb=\"Identify\">https://www.e-periodica.ch/oai/dataprovider</request>\n
        \ <Identify>\n    <repositoryName>repository.prod</repositoryName>\n    <baseURL>https://www.e-periodica.ch/oai/dataprovider</baseURL>\n
        \   <protocolVersion>2.0</protocolVersion>\n    <adminEmail>webmaster@e-periodica.ch</adminEmail>\n
        \   <earliestDatestamp>2013-12-09T21:21:34Z</earliestDatestamp>\n    <deletedRecord>no</deletedRecord>\n
        \   <granularity>YYYY-MM-DDThh:mm:ssZ</granularity>\n    <description>\n      <oai-identifier
        xmlns=\"http://www.openarchives.org/OAI/2.0/oai-identifier\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \       xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai-identifier
        http://www.openarchives.org/OAI/2.0/oai-identifier.xsd\">\n        <scheme>oai</scheme>\n
        \       <repositoryIdentifier>agora</repositoryIdentifier>\n        <delimiter>:</delimiter>\n
        \       <sampleIdentifier>oai:agora:buw-001:1947:1</sampleIdentifier>\n      </oai-identifier>\n
        \   </description>\n  </Identify>\n</OAI-PMH>"
    headers:
      Content-Language:
      - de
      Content-Type:
      - application/xml;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=Identify
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2026-03-15T07:54:25Z</responseDate>\n
        \ <request verb=\"Identify\">https://zenodo.org/oai2d</request>\n  <Identify>\n
        \   <repositoryName>Zenodo</repositoryName>\n    <baseURL>https://zenodo.org/oai2d</baseURL>\n
        \   <protocolVersion>2.0</protocolVersion>\n    <adminEmail>info@zenodo.org</adminEmail>\n
        \   <earliestDatestamp>2014-02-03T14:41:33Z</earliestDatestamp>\n    <deletedRecord>no</deletedRecord>\n
        \   <granularity>YYYY-MM-DDThh:mm:ssZ</granularity>\n  </Identify>\n</OAI-PMH>\n"
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '1773561326'
      x-source:
      - ui
    status:
      code: 200
      message: OK
version: 1
