version: 1
interactions:
- request:
    method: GET
    uri: https://httpbun.com/html?verb=Identify
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      type: text
      content: |
        <!DOCTYPE html>
        <html>
        <title>Httpbun sample</title>
        <body>
          <h1>Some title</h1>
          <p>Some paragraph</p>
          <img src=x onerror='document.body.insertAdjacentText("beforeend", "inserted by img[onerror]")'>
          <script>document.write("inserted by script")</script>
  recorded_at: 2026-08-10T08:56:31.225658+00:00
- request:
    method: GET
    uri: https://www.e-periodica.ch/oai/dataprovider?verb=Identify
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-language:
      - de
      content-type:
      - application/xml;charset=UTF-8
      varnish-default-vcl:
      - "true"
    body:
      type: text
      content: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
          <responseDate>2026-08-10T08:56:31Z</responseDate>
          <request verb="Identify">https://www.e-periodica.ch/oai/dataprovider</request>
          <Identify>
            <repositoryName>repository.prod</repositoryName>
            <baseURL>https://www.e-periodica.ch/oai/dataprovider</baseURL>
            <protocolVersion>2.0</protocolVersion>
            <adminEmail>webmaster@e-periodica.ch</adminEmail>
            <earliestDatestamp>2013-12-09T21:21:34Z</earliestDatestamp>
            <deletedRecord>no</deletedRecord>
            <granularity>YYYY-MM-DDThh:mm:ssZ</granularity>
            <description>
              <oai-identifier xmlns="http://www.openarchives.org/OAI/2.0/oai-identifier" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai-identifier http://www.openarchives.org/OAI/2.0/oai-identifier.xsd">
                <scheme>oai</scheme>
                <repositoryIdentifier>agora</repositoryIdentifier>
                <delimiter>:</delimiter>
                <sampleIdentifier>oai:agora:buw-001:1947:1</sampleIdentifier>
              </oai-identifier>
            </description>
          </Identify>
        </OAI-PMH>
  recorded_at: 2026-08-10T08:56:31.345368+00:00
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=Identify
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "60"
      x-source:
      - ui
    body:
      type: text
      content: |
        <?xml version='1.0' encoding='UTF-8'?>
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
          <responseDate>2026-08-10T08:56:30Z</responseDate>
          <request verb="Identify">https://zenodo.org/oai2d</request>
          <Identify>
            <repositoryName>Zenodo</repositoryName>
            <baseURL>https://zenodo.org/oai2d</baseURL>
            <protocolVersion>2.0</protocolVersion>
            <adminEmail>info@zenodo.org</adminEmail>
            <earliestDatestamp>2014-02-03T14:41:33Z</earliestDatestamp>
            <deletedRecord>no</deletedRecord>
            <granularity>YYYY-MM-DDThh:mm:ssZ</granularity>
          </Identify>
        </OAI-PMH>
  recorded_at: 2026-08-10T08:56:30.700120+00:00
