interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?metadataPrefix=oai_dc&verb=ListIdentifiers
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2023-11-07T18:35:57Z</responseDate>\n  <request verb=\"ListIdentifiers\" metadataPrefix=\"oai_dc\">https://zenodo.org/oai2d</request>\n  <ListIdentifiers>\n    <header>\n      <identifier>oai:zenodo.org:6538892</identifier>\n      <datestamp>2022-05-11T13:49:36Z</datestamp>\n    </header>\n    <header>\n      <identifier>oai:zenodo.org:5783992</identifier>\n      <datestamp>2021-12-16T01:48:40Z</datestamp>\n    </header>\n    <header>\n      <identifier>oai:zenodo.org:6615642</identifier>\n      <datestamp>2022-06-06T01:50:36Z</datestamp>\n    </header>\n    <header>\n      <identifier>oai:zenodo.org:6524784</identifier>\n      <datestamp>2022-05-07T01:49:14Z</datestamp>\n    </header>\n    <header>\n      <identifier>oai:zenodo.org:7726619</identifier>\n      <datestamp>2023-03-15T02:26:42Z</datestamp>\n    </header>\n    <resumptionToken expirationDate=\"2023-11-07T18:37:57Z\" cursor=\"0\" completeListSize=\"3749956\">.eJytzNtOgzAYAOB3-a-JoeWQQLKLLdIqGlQWWunN0tFykEoVtoAue_fpCxgv9j3Ad4JJawWxexP6Uej6buAFIfY8N3DgQzYaYuxAP8uxmSA-wbs-SCUP8nnUdbdADFZ2O1XB2YGpGq0xu-4nA0LNscQLEpTVJY6OijJfkQgpbvrbgSDxmgaMtmbfC6NoZtdL-bVN0F3G87JApNgici-NaPOhrRlNN-tfMvmsloYXPH1QOP0u3ja54KjOhhf0yFjylCCr_v3YKz3z38-8WsH5Anc6ciI.ZUqDjQ.oInMC3B8nj6-brYV9z_hKq4-9J4</resumptionToken>\n  </ListIdentifiers>\n</OAI-PMH>\n"
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '105'
      x-ratelimit-reset:
      - '1699382218'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?resumptionToken=.eJytzNtOgzAYAOB3-a-JoeWQQLKLLdIqGlQWWunN0tFykEoVtoAue_fpCxgv9j3Ad4JJawWxexP6Uej6buAFIfY8N3DgQzYaYuxAP8uxmSA-wbs-SCUP8nnUdbdADFZ2O1XB2YGpGq0xu-4nA0LNscQLEpTVJY6OijJfkQgpbvrbgSDxmgaMtmbfC6NoZtdL-bVN0F3G87JApNgici-NaPOhrRlNN-tfMvmsloYXPH1QOP0u3ja54KjOhhf0yFjylCCr_v3YKz3z38-8WsH5Anc6ciI.ZUqDjQ.oInMC3B8nj6-brYV9z_hKq4-9J4&verb=ListIdentifiers
  response:
    content: "<?xml version='1.0' encoding='[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?resumptionToken=.eJytzN1OgzAYANB3-a6JWQvbgGQXW6RVZlBZaKU3S0fLz6hUYQvosndXX8B44XmAc4FBawXh7Ab7no_dWeB7wXKxdBcOvMlKQ-g60I6yrwYIL_CqT1LJk3zqddlMEIKVzV4VcHVgKHprzL75zoBQc87xhARlZY6Ds6LMUyRAipv2tiNIvMRzRmtzaIVRNLHrKf_YRegu4WmeIZLtELmXRtRpV5eMxpv1Dxm9F1PFMx5vFY4_s-MmFRyVSfeMHhiLHiNk1Z8f-0_P-PszrlZw_QKZInI8.ZUqDjg.R3fT3l5Jl4eZrovehF97gFnEVCU&verb=ListIdentifiers
  response:
    content: "<?xml version='1.0' encoding=[...]
