version: 1
interactions:
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListMetadataFormats
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "59"
      x-source:
      - ui
    body:
      type: text
      content: |
        <?xml version='1.0' encoding='UTF-8'?>
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
          <responseDate>2026-08-10T17:44:20Z</responseDate>
          <request verb="ListMetadataFormats">https://zenodo.org/oai2d</request>
          <ListMetadataFormats>
            <metadataFormat>
              <metadataPrefix>marcxml</metadataPrefix>
              <schema>https://www.loc.gov/standards/marcxml/schema/MARC21slim.xsd</schema>
              <metadataNamespace>https://www.loc.gov/standards/marcxml/</metadataNamespace>
            </metadataFormat>
            <metadataFormat>
              <metadataPrefix>oai_dc</metadataPrefix>
              <schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema>
              <metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNamespace>
            </metadataFormat>
            <metadataFormat>
              <metadataPrefix>dcat</metadataPrefix>
              <schema>http://schema.dataci[...]
- request:
    method: GET
    uri: >-
      https://zenodo.org/oai2d?verb=ListMetadataFormats&identifier=oai%3Azenodo.org%3A10357859
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "59"
      x-source:
      - ui
    body:
      type: text
      content: |
        <?xml version='1.0' encoding='UTF-8'?>
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns[...]
- request:
    method: GET
    uri: >-
      https://zenodo.org/oai2d?verb=ListMetadataFormats&identifier=oai%3Azenodo.org%3AXXX
    headers:
    body:
      type: none
  response:
    status: 422
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "60"
    body:
      type: text
      content: >-
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH
        xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-08-10T17:44:19Z</responseDate><request>https://zenodo.org/oai2d</request><error code="idDoesNotExist">No matching identifier</error></OAI-PMH>
  recorded_at: 2026-08-10T17:44:19.844128+00:00
