interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?metadataPrefix=oai_dc&verb=ListRecords
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2023-11-03T11:19:04Z</responseDate>\n  <request verb=\"ListRecords\" metadataPrefix=\"oai_dc\">https://zenodo.org/oai2d</request>\n  <ListRecords>\n    <record>\n      <header>\n        <identifier>oai:zenodo.org:6538892</identifier>\n        <datestamp>2022-05-11T13:49:36Z</datestamp>\n      </header>\n      <metadata>\n        <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n          <dc:creator>Mamaturdiyeva Durdona Aqilovna</dc:creator>\n          <dc:date>2022-05-11</dc:date>\n          <dc:description>In this article you can learn about the wonders of the Universe. You will learn about the work of our great scientists in the study of the universe. The lesson also includes information that should be passed on to young children. It is impossible to enumerate how many wonders of the universe. We also get to know the planets, stars, and the history and names of their names.</dc:description>\n          <dc:identifier>https://doi.org/10.5281/zenodo.6538892</dc:identifier>\n          <dc:identifier>oai:zenodo.org:6538892</dc:identifier>\n          <dc:publisher>Zenodo</dc:publisher>\n          <dc:relation>https://doi.org/10.5281/zenodo.6538891</dc:relation>\n          <dc:rights>info:eu-repo/semantics/openAccess</dc:rights>\n          <dc:rights>Creative Commons Attribution 4.0 International</dc:rights>\n          <dc:rights>https://creativecommons.org/licenses/by/4.0/legalcode</dc:rights>\n          <dc:title>INFORMATION YOU KNOW AND DON'T KNOW ABOUT THE UNIVERSE</dc:title>\n          <dc:type>info:eu-repo/semantics/article</dc:type>\n        </oai_dc:dc>\n      </metadata>\n    </record>\n    <record>\n      <header>\n        <identifier>oai:zenodo.org:5783992</identifier>\n        <datestamp>2021-12-16T01:48:40Z</datestamp>\n      </header>\n      <metadata>\n        <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/[...]
