interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&metadataPrefix=oai_dc
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2026-04-10T11:24:53Z</responseDate>\n
        \ <request verb=\"ListIdentifiers\" metadataPrefix=\"oai_dc\">https://zenodo.org/oai2d</request>\n
        \ <ListIdentifiers>\n    <header status=\"deleted\">\n      <identifier>oai:zenodo.org:8435696</identifier>\n
        \     <datestamp>2023-10-12T14:26:07Z</datestamp>\n      <setSpec>user-pyhep2023</setSpec>\n
        \     <setSpec>openaire</setSpec>\n    </header>\n    <header>\n      <identifier>oai:zenodo.org:8435639</identifier>\n
        \     <datestamp>2023-10-12T15:06:49Z</datestamp>\n      <setSpec>openaire_data</setSpec>\n
        \   </header>\n    <header>\n      <identifier>oai:zenodo.org:8433301</identifier>\n
        \     <datestamp>2023-10-12T02:36:57Z</datestamp>\n      <setSpec>openaire_data</setSpec>\n
        \   </header>\n    <resumptionToken expirationDate=\"2026-04-10T11:26:54Z\"
        cursor=\"0\" completeListSize=\"7017764\">.eJwtzN1ugjAYANB36bVZoFI</resumptionToken>\n
        \ </ListIdentifiers>\n</OAI-PMH>\n"
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '8'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '26'
      x-ratelimit-reset:
      - '1775820303'
      x-source:
      - ui
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&resumptionToken=.eJwtzN1ugjAYANB36bVZoFI
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.opena[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&resumptionToken=.eJwtzN1ugjAYANB36bVZKIJOkl2YyI_NIIqUSm9M1w8EW5QIhgbju2_Ldh7gPFFfloA8681yrIWFneUSz7GzwsvFDHXiXCJvPkNqFPdzj7wnastBgBjE7l5WjUEeuonmBBK9ZqiX95vWp-ZnQ0GoH4VtMA_zqrBXDwhzB4IVBqbV5hpgfiRuHtb6S3ENYXJbG_4pp7rO26QXOiGC1kJcEj895lmmkvn6V6AG6GIGl61DW76DTUAPVu_IFibwSRYzknPDHRb5A78GY4FTN7X3U6wTc5z4jvom_Xu0otU7g2sxp4xs9zk5MGY5oNx9HHWD8MkIhtvxVLsiSAOOfTvW4BaZbmNlmoLB_yOjraRMXooxjejIlKEyxLG[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&metadataPrefix=datacite
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&metadataPrefix=XXX
  response:
    body:
      string: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-04-10T11:31:29Z</responseDate><request>https://zenodo.org/oai2d</request><error
        code="badArgument">metadataPrefix does not exist</error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '45'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '28'
      x-ratelimit-reset:
      - '1775820735'
    status:
      code: 422
      message: UNPROCESSABLE ENTITY
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&from=2026-04-01&metadataPrefix=oai_dc
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarch[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&until=2026-04-02&metadataPrefix=oai_dc
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarc[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&from=2026-04-01&until=2026-04-02&metadataPrefix=oai_dc
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        ht[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&metadataPrefix=oai_dc&set=software
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchive[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&metadataPrefix=oai_dc&set=XXX
  response:
    body:
      string: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-04-10T11:32:43Z</responseDate><request>https://zenodo.org/oai2d</request><error
        code="noRecordsMatch"></error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '19'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '26'
      x-ratelimit-reset:
      - '1775820783'
    status:
      code: 422
      message: UNPROCESSABLE ENTITY
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&resumptionToken=XXX
  response:
    body:
      string: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-04-10T11:34:05Z</responseDate><request>https://zenodo.org/oai2d</request><error
        code="badResumptionToken">The value of the resumptionToken argument is invalid
        or expired.</error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '1775820906'
    status:
      code: 422
      message: UNPROCESSABLE ENTITY
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&from=2030-01-15&metadataPrefix=oai_dc
  response:
    body:
      string: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-04-10T11:34:18Z</responseDate><request>https://zenodo.org/oai2d</request><error
        code="noRecordsMatch"></error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '47'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '28'
      x-ratelimit-reset:
      - '1775820906'
    status:
      code: 422
      message: UNPROCESSABLE ENTITY
version: 1
