interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListSets
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2023-11-19T14:23:16Z</responseDate>\n  <request verb=\"ListSets\">https://zenodo.org/oai2d</request>\n  <ListSets>\n    <set>\n      <setSpec>user-emi</setSpec>\n      <setName>European Middleware Initiative</setName>\n      <setDescription>\n        <oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\">\n          <dc:description>&lt;p&gt;\n\t&amp;nbsp;&lt;/p&gt;\n&lt;p id=\"aui_3_2_0_1104\"&gt;\n\tThe European Middleware Initiative (EMI) is a close collaboration of the three major middleware providers, ARC, gLite and UNICORE, and other specialized software providers like dCache.&lt;/p&gt;\n&lt;p id=\"aui_3_2_0_196\"&gt;\n\tThe&amp;nbsp;&lt;strong&gt;project&amp;#39;s mission&lt;/strong&gt;&amp;nbsp;is to&lt;/p&gt;\n&lt;ol&gt;\n\t&lt;li&gt;\n\t\tdeliver a consolidated set of middleware components for deployment in EGI (a[...]
