interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListSets
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2026-03-15T08:01:16Z</responseDate>\n
        \ <request verb=\"ListSets\">https://zenodo.org/oai2d</request>\n  <ListSets>\n
        \   <set>\n      <setSpec>user-harmonic-radar</setSpec>\n      <setName>Harmonic
        Radar</setName>\n      <setDescription>\n        <oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\">\n
        \         <dc:description>&lt;p&gt;Radar using a non-linear element with the
        radar receiver at a multiple of the transmitter frequency.&lt;/p&gt;\n</dc:description>\n
        \       </oai_dc:dc>\n      </setDescription>\n    </set>\n    <set>\n      <setSpec>user-eliminatinewq</setSpec>\n
        \     <setName>Eliminating Flies</setName>\n    </set>\n    <set>\n      <setSpec>user-sciencedomain-international</setSpec>\n
        \     <setName>Sciencedomain international</setName>\n      <setDescription>\n
     [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListSets&resumptionToken=eyJzZWVkIjowLjM1ODM1NjU5NDkzNDU3MjE3LCJwYWdlIjoyLCJrd2FyZ3MiOnt9fQ.abZnTA.XmYCr7-cbxvBh7bSF42hlCtMVVI
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLo[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListSets&resumptionToken=XXX
  response:
    body:
      string: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-03-15T08:19:57Z</responseDate><request>https://zenodo.org/oai2d</request><error
        code="badResumptionToken">The value of the resumptionToken argument is invalid
        or expired.</error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '1773562858'
    status:
      code: 422
      message: UNPROCESSABLE ENTITY
version: 1
