interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&metadataPrefix=oai_dc
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2024-01-21T16:53:57Z</responseDate>\n
      \ <request verb=\"ListIdentifiers\" metadataPrefix=\"oai_dc\">https://zenodo.org/oai2d</request>\n
      \ <ListIdentifiers>\n    <header>\n      <identifier>oai:zenodo.org:2217771</identifier>\n
      \     <datestamp>2020-01-20T17:11:12Z</datestamp>\n    </header>\n    <header
      status=\"deleted\">\n      <identifier>oai:zenodo.org:2510668</identifier>\n
      \     <datestamp>2020-01-20T13:19:30Z</datestamp>\n    </header>\n    <header>\n
      \     <identifier>oai:zenodo.org:1964765</identifier>\n      <datestamp>2020-01-20T16:10:28Z</datestamp>\n
      \   </header>\n    <resumptionToken expirationDate=\"2024-01-21T16:55:57Z\"
      cursor=\"0\" completeListSize=\"3677115\">eJyNzt1ugjAYgOF7</resumptionToken>\n
      \ </ListIdentifiers>\n</OAI-PMH>\n"
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '1705856098'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&resumptionToken=eJyNzt1ugjAYgOF7
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2024-01-21T16:53:57Z</responseDate>\n
      \ <request resumptionToken=\".eJyNzt1ugjAYgOF7-Y7NYkGYkHigkVaJMjOkhZ6Y0qJjrWD4iajx3rclO172XsCT9wFtUSjwxy_IdZGFXqdT1564nmOP4CJOBfjWCPRVNKcW_Aeci04o0YldUxzLAXyoRXlQEp4jaGVTG3MovzHAxPSZNSBO6DGzvF4ROlHYQ4oZvaww4mnoUPJhcs2NIlE9HzjlVRjnq9pKcBTs78GNa7oUJBhYelnMf3qrVj0OmNQhjUmnBVWx0NKWeMGK1DTvVrdRA--TVN-358jOzNqmtrmnY-XIgEbMqF8nC-VNs_3n9rpfcRbTME4I6lky7HKDNyJRDv_3z_rvn-tsBs8v72p1Xw.Za1MJQ.BCAaAlrwiiT5LzOta_gChp-37X4\"
      verb=\"ListIdentifiers\">https://zenodo.org/oai2d</request>\n  <ListIdentifiers>\n
      \   <header>\n      <identifier>oai:zenodo.org:924565</identifier>\n      <datestamp>2019-03-20T19:36:10Z</datestamp>\n
      \     <setSpec>user-biosyslit</setSpec>\n    </header>\n    <header>\n      <identifier>oai:zenodo.org:1429390</identifier>\n
      \     <datestamp>2020-01-20T16:27:31Z</datestamp>\n    </header>\n    <header>\n
      \     <identifier>oai:zenodo.org:1773692</identifier>\n      <datestamp>2020-01-20T16:54:01Z</datestamp>\n
      \   </header>\n    <resumptionToken expirationDate=\"2024-01-21T16:55:58Z\"
      cursor=\"100\" completeListSize=\"3677115\">.eJyNzt1qwjAYgOF7-Y5l9NfRggeKTbRoJ6tN2pxITKJzia30h9aK974Ndjz2XsDD-4BGKQmh9TK1PMeb-oEV2IHnvnoTuPGzgtCdgO55fW4gfMBVtVzylu9qdboMEELFLwcp4DmBRtSVMYfLNwYIm65wBpthciqcoJOYeBIFtqRGL0tkszz2Cf4wR82MxEk1HxhhZZweV5WToSTaj9GdabLkOBpoflvMf3orVx2KqNAxSXGrOZEp18IVaEFVbup3p93IgXVZrsftNXELs3aJa8bckr6ISEKN_HWKWNw13X9u-_2K0ZTEaYbtjmbD7mjQhmfSZ__-Wf_9089m8PwC7MZ1XQ.Za1MJg.9UW0wv6NRbZU2JAKMpASR0OZVLY</resumptionToken>\n
      \ </ListIdentifiers>\n</OAI-PMH>\n"
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '59'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '1705856098'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&resumptionToken=.eJyNzt1qwjAYgOF7-Y5l9NfRggeKTbRoJ6tN2pxITKJzia30h9aK974Ndjz2XsDD-4BGKQmh9TK1PMeb-oEV2IHnvnoTuPGzgtCdgO55fW4gfMBVtVzylu9qdboMEELFLwcp4DmBRtSVMYfLNwYIm65wBpthciqcoJOYeBIFtqRGL0tkszz2Cf4wR82MxEk1HxhhZZweV5WToSTaj9GdabLkOBpoflvMf3orVx2KqNAxSXGrOZEp18IVaEFVbup3p93IgXVZrsftNXELs3aJa8bckr6ISEKN_HWKWNw13X9u-_2K0ZTEaYbtjmbD7mjQhmfSZ__-Wf_9089m8PwC7MZ1XQ.Za1MJg.9UW0wv6NRbZU2JAKMpASR[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&metadataPrefix=datacite
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&metadataPrefix=XXX
  response:
    content: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-01-21T17:01:07Z</responseDate><request>https://zenodo.org/oai2d</request><error
      code="badArgument">metadataPrefix does not exist</error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '1705856528'
    status_code: 422
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&from=2024-01-16&metadataPrefix=oai_dc
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&until=2024-01-17&metadataPrefix=oai_dc
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&from=2024-01-16&until=2024-01-17&metadataPrefix=oai_dc
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarch[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&metadataPrefix=oai_dc&set=XXX
  response:
    content: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-01-21T17:11:19Z</responseDate><request>https://zenodo.org/oai2d</request><error
      code="noRecordsMatch"></error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '1705857140'
    status_code: 422
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&metadataPrefix=oai_dc&set=software
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListIdentifiers&resumptionToken=XXX
  response:
    content: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-01-21T17:24:34Z</responseDate><request>https://zenodo.org/oai2d</request><error
      code="badResumptionToken">The value of the resumptionToken argument is invalid
      or expired.</error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '1705857935'
    status_code: 422
version: 1
