interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2024-01-18T16:26:03Z</responseDate>\n
      \ <request verb=\"ListRecords\" metadataPrefix=\"oai_dc\">https://zenodo.org/oai2d</request>\n
      \ <ListRecords>\n    <record>\n      <header>\n        <identifier>oai:zenodo.org:2217771</identifier>\n
      \       <datestamp>2020-01-20T17:11:12Z</datestamp>\n      </header>\n      <metadata>\n
      \       <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
      xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
      \         <dc:creator>Moir, James</dc:creator>\n          <dc:date>1910-01-01</dc:date>\n
      \         <dc:description>n/a</dc:description>\n          <dc:identifier>https://doi.org/10.1080/00359191009519377</dc:identifier>\n
      \         <dc:identifier>oai:zenodo.org:2217771</dc:identifier>\n          <dc:publisher>Zenodo</dc:publisher>\n
      \         <dc:rights>info:eu-repo/semantics/openAccess</dc:rights>\n          <dc:rights>Creative
      Commons Zero v1.0 Universal</dc:rights>\n          <dc:rights>https://creativecommons.org/publicdomain/zero/1.0/legalcode</dc:rights>\n
      \         <dc:title>Some Remarkable Oxidation-Products of Benzidine</dc:title>\n
      \         <dc:type>info:eu-repo/semantics/article</dc:type>\n        </oai_dc:dc>\n
      \     </metadata>\n    </record>\n    <record>\n      <header status=\"deleted\">\n
      \       <identifier>oai:zenodo.org:2510668</identifier>\n        <datestamp>2020-01-20T13:19:30Z</datestamp>\n
      \     </header>\n      <metadata>\n        <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
      xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&resumptionToken=eJyNzE1vgjAcgPHv8j
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2024-01-18T16:26:17Z</responseDate>\n
      \ <request resumptionToken=\".eJyNzE1vgjAcgPHv8j-bpa1CAokHjaUGHZsvtNqLqbT40k4MYASM330u2XnZc3luvwdUxmgI0Rsigz72fRS8hpDneYMeXNXBQEh6YO-qPFQQPuDL1EqrWn2WJj81EEKhTjudwbMHVVYWzu1OLw4i5m5b0mDJeL4lwU0zPtBRgLVwdnKJsNzEHmdHt7fSaZYUo2bbztNotu6OZ-kSn3fOl-K9nyFaq_VxPPopSQM2RSIV8UyTuEvP46UUOE8uCzznnH5QXOhGcnmJV_tpQdIooeuOttLyiWK0EZvrr2PaakFFZmO-YrVVXK-UzfpZNBZm48olqef_d0Z_O_fhEJ7fr6l09g.ZalRKQ.MRbdb9ITMC404p_wehQRrUhFCcI\"
      verb=\"ListRecords\">https://zenodo.org/oai2d</request>\n  <ListRecords>\n    <record>\n
      \     <header>\n        <identifier>oai:zenodo.org:6243265</identifier>\n        <datestamp>2022-03-08T03:45:27Z</datestamp>\n
      \       <setSpec>user-biosyslit</setSpec>\n      </header>\n      <metadata>\n
      \       <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
      xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
      \         <dc:creator>Jinlu Li</dc:creator>\n          <dc:creator>Naifa Liu</dc:creator>\n
      \         <dc:creator>Junxing Yang</dc:creator>\n          <dc:date>2007-12-31<[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&resumptionToken=.eJyNzN1ugjAYANB3-a7JAlRxkHihsdQgY1Okld6YSutfOzCAETG--7Zk18vOA5wHNEpJCOwX7xX57nCEkO0PRsgfWHARBwUBskDfRH1oIHjAp2qFFK34qNX-1EEAlThtZQFPC5qirozZnr4zCIm55m7ncEL3uetfJaEDGfqOZEbPytDhm2hIydHsNDeSJNWky-9xFi7W_fHMTeLR3nicvaHCxq1YH6eTH0nmk7nNMhYtpBv12Xm64szZJ-XSiSnF79ipZMcpL6N0N6_cLEzwusd3rulMENyxzeX3UfdmiVmhI5qSVgsqU6ELVIRTpjamXrlt_P9n8vdzG4_h-QVIXHSv.ZalRMg.7yq2ftIonh6KPfSo_YgrGPwsEJA[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&from=2025-01-15&metadataPrefix=oai_dc
  response:
    content: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-01-18T16:49:23Z</responseDate><request>https://zenodo.org/oai2d</request><error
      code="noRecordsMatch"></error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '1705596624'
    status_code: 422
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc&resumptionToken=XXX
  response:
    content: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-01-18T16:50:13Z</responseDate><request>https://zenodo.org/oai2d</request><error
      code="badArgument">You have passed too many arguments.</error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '1705596674'
    status_code: 422
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc&set=XXX
  response:
    content: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-01-18T16:50:44Z</responseDate><request>https://zenodo.org/oai2d</request><error
      code="noRecordsMatch"></error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '1705596705'
    status_code: 422
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc&set=software
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=datacite
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2024-01-18T16:59:04Z</responseDate>\n
      \ <request verb=\"ListRecords\" metadataPrefix=\"datacite\">https://zenodo.org/oai2d</request>\n
      \ <ListRecords>\n    <record>\n      <header>\n        <identifier>oai:zenodo.org:2217771</identifier>\n
      \       <datestamp>2020-01-20T17:11:12Z</datestamp>\n      </header>\n      <metadata>\n
      \       <resource xmlns=\"http://datacite.org/schema/kernel-4\" xsi:schemaLocation=\"http://datacite.org/schema/kernel-4
      http://schema.datacite.org/meta/kernel-4.3/metadata.xsd\">\n          <identifier
      identifierType=\"DOI\">10.1080/00359191009519377</identifier>\n          <alternateIdentifiers>\n
      \           <alternateIdentifier alternateIdentifierType=\"oai\">oai:zenodo.org:2217771</alternateIdentifier>\n
      \         </alternateIdentifiers>\n          <creators>\n            <creator>\n
      \             <creatorName nameType=\"Personal\">Moir, James</creatorName>\n
      \             <givenName>James</givenName>\n              <familyName>Moir</familyName>\n
      \           </creator>\n          </creators>\n          <titles>\n            <title>Some
      Remarkable Oxidation-Products of Benzidine</title>\n          </titles>\n          <publisher>Zenodo</publisher>\n
      \         <publicationYear>1910</publicationYear>\n          <dates>\n            <date
      dateType=\"Issued\">1910-01-01</date>\n          </dates>\n          <resourceType
      resourceTypeGeneral=\"JournalArticle\"></resourceType>\n          <rightsList>\n
      \           <rights rightsURI=\"https://creativecommons.org/publicdomain/zero/1.0/legalcode\"
      rightsIdentifierScheme=\"spdx\" rightsIdentifier=\"cc0-1.0\">Creative Commons
      Zero v1.0 Universal</rights>\n          </rightsList>\n          <descriptions>\n
      \           <description descriptionType=\"Abstract\">n/a</description>\n          </descriptions>\n
      \       </resource>\n      </metadata>\n    </record>\n    <record>\n      <header>\n
      \       <identifier>oai:zenodo.org:2510668</identifier>\n        <datestamp>2020-01-20T13:19:30Z</datestamp>\n
      \     </header>\n      <metadata>\n        <resource xmlns=\"http://datacite.org/schema/kernel-4\"
      xsi:schemaLocation=\"http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4.3/meta[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=XXX
  response:
    content: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-01-18T16:59:23Z</responseDate><request>https://zenodo.org/oai2d</request><error
      code="badArgument">metadataPrefix does not exist</error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '1705597224'
    status_code: 422
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&from=2024-01-16&metadataPrefix=oai_dc
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2024-01-18T16:59:40Z</responseDate>\n
      \ <request verb=\"ListRecords\" from_=\"2024-01-16T00:00:00Z\" metadataPrefix=\"oai_dc\">https://zenodo.org/oai2d</request>\n
      \ <ListRecords>\n    <record>\n      <header>\n        <identifier>oai:zenodo.org:10517528</identifier>\n
      \       <datestamp>2024-01-16T09:08:38Z</datestamp>\n      </header>\n      <metadata>\n
      \       <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
      xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
      \         <dc:creator>La Nouvelle Donne Guin\xE9e</dc:creator>\n          <dc:date>2024-01-16</dc:date>\n
      \         <dc:identifier>https://doi.org/10.5281/zenodo.10517528</dc:identifier>\n
      \         <dc:identifier>oai:zenodo.org:10517528</dc:identifier>\n          <dc:publisher>Zenodo</dc:publisher>\n
      \         <dc:relation>https://doi.org/10.5281/zenodo.10517527</dc:relation>\n
      \         <dc:rights>info:eu-repo/semantics/openAccess</dc:rights>\n          <dc:rights>Creative
      Commons Attribution 4.0 International</dc:rights>\n          <dc:rights>https://creativecommons.org/licenses/by/4.0/legalcode</dc:rights>\n
      \         <dc:title>D\xE9claration N\xB09 de La Nouvelle Donne: Tel est pris
      qui croyait prendre\u2026</dc:title>\n          <dc:type>info:eu-repo/semantics/other</dc:type>\n
      \[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&until=2024-01-17&metadataPrefix=oai_dc
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&from=2024-01-16&until=2024-01-17&metadataPrefix=oai_dc
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
      href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
      http://www.openarchives[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&resumptionToken=XXX
  response:
    content: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2024-01-21T17:26:32Z</responseDate><request>https://zenodo.org/oai2d</request><error
      code="badResumptionToken">The value of the resumptionToken argument is invalid
      or expired.</error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '1705858053'
    status_code: 422
version: 1
