interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListMetadataFormats&identifier=oai%3Azenodo.org%3AXXX
  response:
    body:
      string: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-03-15T07:59:53Z</responseDate><request>https://zenodo.org/oai2d</request><error
        code="idDoesNotExist">No matching identifier</error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '1773561654'
    status:
      code: 422
      message: UNPROCESSABLE ENTITY
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListMetadataFormats&identifier=oai%3Azenodo.org%3A10357859
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2026-03-15T07:59:54Z</responseDate>\n
        \ <request verb=\"ListMetadataFormats\" identifier=\"oai:zenodo.org:10357859\">https://zenodo.org/oai2d</request>\n
        \ <ListMetadataFormats>\n    <metadataFormat>\n      <metadataPrefix>marcxml</metadataPrefix>\n
        \     <schema>https://www.loc.gov/standards/marcxml/schema/MARC21slim.xsd</schema>\n
        \     <metadataNamespace>https://www.loc.gov/standards/marcxml/</metadataNamespace>\n
        \   </metadataFormat>\n    <metadataFormat>\n      <metadataPrefix>oai_dc</metadataPrefix>\n
        \     <schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema>\n      <metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNamespace>\n
        \   </metadataFormat>\n    <metadataFormat>\n      <metadataPrefix>dcat</metadataPrefix>\n
        \     <schema>http://schema.datacite.org/meta/kernel-4/metada[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListMetadataFormats
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n [...]
