interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListMetadataFormats
  response:
    content: "<?xml version='1.0' encoding='UTF-8'?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2023-11-19T14:23:16Z</responseDate>\n  <request verb=\"ListMetadataFormats\">https://zenodo.org/oai2d</request>\n  <ListMetadataFormats>\n    <metadataFormat>\n      <metadataPrefix>marcxml</metadataPrefix>\n      <schema>https://www.loc.gov/standards/marcxml/schema/MARC21slim.xsd</schema>\n      <metadataNamespace>https://www.loc.gov/standards/marcxml/</metadataNamespace>\n    </metadataFormat>\n    <metadataFormat>\n      <metadataPrefix>oai_dc</metadataPrefix>\n      <schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema>\n      <metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNamespace>\n    </metadataFormat>\n    <metadataFormat>\n      <metadataPrefix>dcat</metadataPrefix>\n      <schema>http://schema.datacite.org/meta/kernel-4/metadata.xsd</schema>\n      <metadataName[...]
