version: 1
interactions:
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListSets
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "34"
      x-source:
      - ui
    body:
      type: text
      content: |
        <?xml version='1.0' encoding='UTF-8'?>
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
          <responseDate>2026-08-12T18:20:39Z</responseDate>
          <request verb="ListSets">https://zenodo.org/oai2d</request>
          <ListSets>
            <set>
              <setSpec>user-harmonic-radar</setSpec>
              <setName>Harmonic Radar</setName>
              <setDescription>
                <oai_dc:dc xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/">
                  <dc:description>&lt;p&gt;Radar using a non-linear element with the radar receiver at a multiple of the transmitter frequency.&lt;/p&gt;
        </dc:description>
                </oai_dc:dc>
              </setDescription>
            </set>
            <set>
              <setSpec>user-eliminatinewq</setSpec>
              <setName>Eliminating Flies</setName>
            </set>
            <set>
              <setSpec>user-sciencedomain-international</setSpec>
              <setName>Sciencedomain international[...]
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListSets&resumptionToken=XXX
    headers:
    body:
      type: none
  response:
    status: 422
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "33"
    body:
      type: text
      content: >-
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH
        xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-08-12T18:20:40Z</responseDate><request>https://zenodo.org/oai2d</request><error code="badResumptionToken">The value of the resumptionToken argument is invalid or expired.</error></OAI-PMH>
  recorded_at: 2026-08-12T18:20:40.244749+00:00
- request:
    method: GET
    uri: >-
      https://zenodo.org/oai2d?verb=ListSets&resumptionToken=eyJzZWVkIjowLjMyOTUxMjIzOTg3NzM4MzksInBhZ2UiOjIsImt3YXJncyI6e319.any5dw.kg_s6M1Kr5M3Ar7Z6EWcvbfu8Tg
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "34"
      x-source:
      - ui
    body:
      type: text
      content: |
        <?xml version='1.0' encoding='UTF-8'?>
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?>
 [...]
