version: 1
interactions:
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&from=2026-04-01&metadataPrefix=oai_dc
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "57"
      x-source:
      - ui
    body:
      type: text
      content: |
        <?xml version='1.0' encoding='UTF-8'?>
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
          <responseDate>2026-08-13T18:18:48Z</responseDate>
          <request verb="ListRecords" from="2026-04-01T00:00:00Z" metadataPrefix="oai_dc">https://zenodo.org/oai2d</request>
          <ListRecords>
            <record>
              <header>
                <identifier>oai:zenodo.org:20510666</identifier>
                <datestamp>2026-06-02T13:19:56Z</datestamp>
                <setSpec>software</setSpec>
              </header>
              <metadata>
                <oai_dc:dc xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
                  <dc:creator>Meika4</dc:creator>
                  <dc:date>2026-06-02</dc:date>
                  <dc:description>No description provided.</dc:description>
                  <dc:identifier>https://doi.org/10.5281/zenodo.20510666</dc:identifier>
                  <dc:identifier>oai:zenodo.org:20510666</dc:identifier>
                  <dc:publisher>Zenodo</dc:publisher>
                  <dc:relation>https://github.com/Meika4/mabs_mds7_gaussians/tree/v1.0.0</dc:relation>
                  <dc:relation>https://doi.org/10.5281/zenodo.20510665</dc:relation>
                  <dc:rights>info:eu-repo/semantics/openAccess</dc:rights>
                  <dc:rights>Creative Commons Attribution 4.0 International</dc:rights>
                  <dc:rights>https://creativecommons.org/licenses/by/4.0/legalcode</dc:rights>
                  <dc:title>Meika4/mabs_mds7_gaussians: mAbs.MDS7 Gaussians</dc:title>
                  <dc:type>info:eu-repo/semantics/other</dc:type>
                </oai_dc:dc>
              </metadata>
            </record>
            <record>
              <header>
                <identifier>oai:zenodo.org:20568304</identifier>
                <datestamp>2026-06-06T07:52:15Z</datestamp>
                <setSpec>user-jahsm</setSpec>
              </header>
              <metadata>
                <oai_dc:dc xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:oai_dc="http://www.openarchives.org/OAI/2.0[...]
- request:
    method: GET
    uri: >-
      https://zenodo.org/oai2d?verb=ListRecords&from=2026-04-01&until=2026-04-02&metadataPrefix=oai_dc
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "49"
      x-source:
      - ui
    body:
      type: text
      content: |
        <?xml version='1.0' encoding='UTF-8'?>
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0[...]
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&from=2030-01-01&metadataPrefix=oai_dc
    headers:
    body:
      type: none
  response:
    status: 422
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "48"
    body:
      type: text
      content: >-
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH
        xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-08-13T18:19:00Z</responseDate><request>https://zenodo.org/oai2d</request><error code="noRecordsMatch"></error></OAI-PMH>
  recorded_at: 2026-08-13T18:19:01.006680+00:00
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=XXX
    headers:
    body:
      type: none
  response:
    status: 422
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "60"
    body:
      type: text
      content: >-
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH
        xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-08-13T18:18:48Z</responseDate><request>https://zenodo.org/oai2d</request><error code="badArgument">metadataPrefix does not exist</error></OAI-PMH>
  recorded_at: 2026-08-13T18:18:48.783732+00:00
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=datacite
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "60"
      x-source:
      - ui
    body:
      type: text
      content: |
        <?xml version='1.0' encoding='UTF-8'?>
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?>
        <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
          <responseDate>2026-08-13T18:18:48Z</responseDate>
          <request verb="ListRecords" metadataPrefix="datacite">https://zenodo.org/oai2d</request>
          <ListRecords>
            <record>
              <header>
                <identifier>oai:zenodo.org:8435696</identifier>
                <datestamp>2023-10-12T14:26:07Z</datestamp>
                <setSpec>user-pyhep2023</setSpec>
                <setSpec>openaire</setSpec>
              </header>
              <metadata>
                <resource xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4.5/metadata.xsd">
                  <alternateIdentifiers>
                    <alternateIdentifier alternateIdentifierType="oai">oai:zenodo.org:8435696</alternateIdentifier>
                  </alternateIdentifiers>
                  <creators>
                    <creator>
                      <creatorName nameType="Personal">Matteo Marchegiani</creatorName>
                      <familyName>Matteo Marchegiani</familyName>
                      <affiliation>ETH Zurich</affiliation>
                    </creator>
                  </creators>
                  <titles>
                    <title>PocketCoffea: a configuration layer for CMS analyses with Coffea</title>
                  </titles>
                  <publisher>Zenodo</publisher>
                  <publicationYear>2023</publicationYear>
                  <dates>
                    <date dateType="Issued">2023-10-10</date>
                    <date dateType="Updated">2023-10-12</date>
                  </dates>
                  <resourceType resourceTypeGeneral="Text">Presentation</resourceType>
                  <identifier identifierType="DOI">10.5281/zenodo.8435696</identifier>
                  <relatedIdentifiers>
                    <relatedIdentifier relationType="IsVersionOf" relatedIdentifierType="DOI">10.5281/zenodo.8435695</relatedIdentifier>
                  </relatedIdentifiers>
                  <rightsList>
                    <rights rightsURI="https://creativecommons.org/licenses/by/4.0/legalcode" rightsIdentifierScheme="spdx" rightsIdentifier="cc-by-4.0">Creative Commons Attribution 4.0 International</rights>
                    <rights rightsURI="info:eu-repo/semantics/openAccess"/>
                  </rightsList>
                  <descriptions>
                    <description descriptionType="Abstract">A configuration layer for the analysis of CMS data in the NanoAOD format is presented. The framework is based on the columnar analysis of proton-proton collision events with the Coffea Python package and it focuses on configurability and reproducibility of analysis tasks.
        
        
        All the operations needed to extract the relevant information from events are performed by a Coffea processor object that takes the NanoAOD events as input and returns a set [...]
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "56"
      x-source:
      - ui
    body:
      type: text
      content: |
        <?xml version='1.0' encoding='UTF-8'?>
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?>
        <OAI-PMH xmlns="http://www.openarchives.or[...]
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc&set=XXX
    headers:
    body:
      type: none
  response:
    status: 422
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "48"
    body:
      type: text
      content: >-
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH
        xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-08-13T18:19:00Z</responseDate><request>https://zenodo.org/oai2d</request><error code="noRecordsMatch"></error></OAI-PMH>
  recorded_at: 2026-08-13T18:19:00.722869+00:00
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc&set=software
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "48"
      x-source:
      - ui
    body:
      type: text
      content: |
        <?xml version='1.0' encoding='UTF-8'?>
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?>
        <OAI-PMH xmlns="http://www.op[...]
[...]
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&resumptionToken=XXX
    headers:
    body:
      type: none
  response:
    status: 422
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "48"
    body:
      type: text
      content: >-
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH
        xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-08-13T18:19:00Z</responseDate><request>https://zenodo.org/oai2d</request><error code="badResumptionToken">The value of the resumptionToken argument is invalid or expired.</error></OAI-PMH>
  recorded_at: 2026-08-13T18:19:00.860138+00:00
- request:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&until=2026-04-02&metadataPrefix=oai_dc
    headers:
    body:
      type: none
  response:
    status: 200
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - "55"
      x-source:
      - ui
    body:
      type: text
      content: |
        <?xml version='1.0' encoding='UTF-8'?>
        <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?>
        <OAI-PMH xmlns="http://ww[...]
