interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2026-04-10T11:57:14Z</responseDate>\n
        \ <request verb=\"ListRecords\" metadataPrefix=\"oai_dc\">https://zenodo.org/oai2d</request>\n
        \ <ListRecords>\n    <record>\n      <header>\n        <identifier>oai:zenodo.org:8435696</identifier>\n
        \       <datestamp>2023-10-12T14:26:07Z</datestamp>\n        <setSpec>user-pyhep2023</setSpec>\n
        \       <setSpec>openaire</setSpec>\n      </header>\n      <metadata>\n        <oai_dc:dc
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
        \         <dc:creator>Matteo Marchegiani</dc:creator>\n          <dc:date>2023-10-10</dc:date>\n
        \         <dc:description>&amp;lt;p&amp;gt;A configuration layer for the analysis
        of CMS data in the NanoAOD format is presented. The framework is based on
        the columnar analysis of proton-proton collision events with the Coffea Python
        package and it focuses on configurability and reproducibility of analysis
        tasks.&amp;lt;/p&amp;gt;\n\n&amp;lt;p&amp;gt;All the operations needed to
        extract the relevant information from events are performed by a Coffea processor
        object that ta[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&resumptionToken=.eJwtzNtugjAAANB
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2026-04-10T11:57:23Z</responseDate>\n
        \ <request resumptionToken=\".eJwtzNtugjAAANB_6bNbaAFviQ8uQhkLKt3a2r6YSkFZKxqF0Gn8923ZzgecO7iWpQZT73k4DEZeEPojbxT4YzgegLPal2CKBsD06rK_gukdHMtWadWq9aWsagem4KTqrS7AYwCuxeVk7bb-yUCMbSeQgxKzSqBJpzELdDyBmluzaGIoN2nI8MHujLQaL09zJ3xi2QvDGucsv-3opCsX9Itblqyitpn_irvKD_ecGHYoKbQCEcrMBNMmXRYoaFebzOVEBjyJWtnEvYAkJCi_ZXbpNje5ppEjf0_TGT_nuhE-5elrztJ3zr1AmzDPknOrorTXTqLsdghVTGIJI5RZHYoPe8yMqwXX_0_59lTNefEpepLQnhtHCwwz5TFPIlgto3Oq-9kMPL4BFYhzIQ.adjlow.ZLVZUPPOYeH-to7b3aAVUICTX_w\"
        verb=\"ListRecords\">https://zenodo.org/oai2d</request>\n  <ListRecords>\n
        \   <record>\n      <header>\n        <identifier>oai:zenodo.org:8433364</identifier>\n
        \       <datestamp>2023-10-12T03:01:25Z</datestamp>\n        <setSpec>software</setSpec>\n
        \     </header>\n      <metadata>\n        <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n          <dc:creator>Cheng,
        li</dc:creator>\n          <dc:date>2023-10-12</dc:date>\n          <dc:description>&amp;lt;p&amp;gt;Detect
        fabric wrinkles and flatten fabric&amp;lt;/p&amp;gt;</dc:description>\n          <dc:identifier>https://doi.org/10.5281/zenodo.8433364</dc:identifier>\n
        \         <dc:identifier>oai:zenodo.org:8433364</dc:identifier>\n          <dc:publisher>Zenodo</dc:publisher>\n
        \         <dc:relation>https://doi.org/10.5281/zenodo.8433363</dc:relation>\n
        \         <dc:rights>info:eu-repo/semantics/openAccess</dc:rights>\n          <dc:rights>Creative
        Commons Attribution 4.0 International</dc:rights>\n          <dc:rights>https://creativecommons.org/licenses/by/4.0/legalcode</dc:rights>\n
        \         <dc:subject>yolov5, cloth wrinkle</dc:subject>\n          <dc:title>wrinkle_yolov5</dc:title>\n
        \         <dc:type>info:eu-repo/semantics/other</dc:type>\n        </oai_dc:dc>\n
        \     </metadata>\n    </record>\n    <record>\n      <header>\n        <identifier>oai:zenodo.org:8333281</identifier>\n
        \       <datestamp>2023-10-12T01:34:35Z</datestamp>\n        <setSpec>openaire_data</setSpec>\n
        \     </header>\n      <metadata>\n        <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n          <dc:creator>Ayumu
        Tsubosaka</dc:creator>\n          <dc:creator>Shumpei Ishikawa</dc:creator>\n
        \         <dc:date>2023-10-12</dc:date>\n          <dc:description>&amp;lt;p&amp;gt;This
        dataset contains the spatial transcriptome dataset&amp;nbsp;of human gastric
        mucosa obtained by CosMx&amp;lt;/p&amp;gt;\n\n&amp;lt;p&amp;gt;A zip file
        contains the following folders and files:&amp;lt;/p&amp;gt;\n\n&amp;lt;p&amp;gt;&amp;lt;strong&amp;gt;Folders&amp;lt;/strong&amp;gt;&amp;lt;/p&amp;gt;\n\n&amp;lt;p&amp;gt;-&amp;nbsp;CellComposite
        folder: the composite immunofluorescent images of each FOV.&amp;lt;/p&amp;gt;\n\n&amp;lt;p&amp;gt;-
        CellLabels folder: the cell definitions&amp;nbsp;images for each FOV determined
        during cell segmentation.&amp;lt;/p&amp;gt;\n\n&amp;lt;p&amp;gt;- CellOverlay
        folder: the cell boundary images for each FOV&amp;nbsp;determined during cell
        segmentation.&amp;lt;/p&amp;gt;\n\n&amp;lt;p&amp;gt;- CompartmentLabels folder:
        the subcellular compartment images for each FOV det[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&resumptionToken=.eJwtzMFugjAAgOF36dkttMAmJh5chDoWdHRra3sxlYKyVjQKocP47nPZ_tN_-q7gUpYaTLzH8TN8GkMPwTC8bxSMwEntSjDxR8D06ry7gMkVHMpWadWq93NZ1Q5MwFHVG12A2whcivPR2k19x0CCbSeQgxKzSqCo05gFOomg5tbMmwTKdRoyvLdbI63Gy-PMCZ9Y9sKwxjnLhy2NunJOv7lli1XcNrPfkq7ywx0nhu1LCq1AhDITYdqkywIF7WqduZzIgC_iVjZJLyAJCcqHzC7depDvNHbkz2k64-dcN8KnPH3NWfrBuRdoE-bZ4tSqOO21kygb9qFKSCJhjDKrQ_FpD5lxteD63ynfHqoZL75ETxa058bRAsNMecy[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=datacite
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2026-04-10T12:01:59Z</responseDate>\n
        \ <request verb=\"ListRecords\" metadataPrefix=\"datacite\">https://zenodo.org/oai2d</request>\n
        \ <ListRecords>\n    <record>\n      <header>\n        <identifier>oai:zenodo.org:8435696</identifier>\n
        \       <datestamp>2023-10-12T14:26:07Z</datestamp>\n        <setSpec>user-pyhep2023</setSpec>\n
        \       <setSpec>openaire</setSpec>\n      </header>\n      <metadata>\n        <resource
        xmlns=\"http://datacite.org/schema/kernel-4\" xsi:schemaLocation=\"http://datacite.org/schema/kernel-4
        http://schema.datacite.org/meta/kernel-4.5/metadata.xsd\">\n          <alternateIdentifiers>\n
        \           <alternateIdentifier alternateIdentifierType=\"oai\">oai:zenodo.org:8435696</alternateIdentifier>\n
        \         </alternateIdentifiers>\n          <creators>\n            <creator>\n
        \             <creatorName nameType=\"Personal\">Matteo Marchegiani</creatorName>\n
        \             <familyName>Matteo Marchegiani</familyName>\n              <affiliation>ETH
        Zurich</affiliation>\n            </creator>\n          </creators>\n          <titles>\n
        \           <title>PocketCoffea: a configuration layer for CMS analyses with
        Coffea</title>\n          </titles>\n          <publisher>Zenodo</publisher>\n
        \         <publicationYear>2023</publicationYear>\n          <dates>\n            <date
        dateType=\"Issued\">2023-10-10</date>\n            <date dateType=\"Updated\">2023-10-12</date>\n
        \         </dates>\n          <resourceType resourceTypeGeneral=\"Text\">Presentation</resourceType>\n
        \         <identifier identifierType=\"DOI\">10.5281/zenodo.8435696</identifier>\n
        \         <relatedIdentifiers>\n            <relatedIdentifier relationType=\"IsVersionOf\"
        relatedIdentifierType=\"DOI\">10.5281/zenodo.8435695</relatedIdentifier>\n
        \         </relatedIdentifiers>\n          <rightsList>\n            <rights
        rightsURI=\"https://creativecommons.org/licenses/by/4.0/legalcode\" rightsIdentifierScheme=\"spdx\"
        rightsIdentifier=\"cc-by-4.0\">Creative Commons Attribution 4.0 International</rights>\n
        \           <rights rightsURI=\"info:eu-repo/semantics/openAccess\"/>\n          </rightsList>\n
        \         <descriptions>\n            <description descriptionType=\"Abstract\">A
        configuration layer for the analysis of CMS data in the NanoAOD format is
        presented. The framework is based on the columnar analysis of proton-proton
        collision events with the Coffea Python package and it focuses on configurability
        and reproducibility of analysis tasks.\n\n\nAll the operations needed to extract
        the relevant information from events are performed by a Coffea processor object
        that takes the NanoAOD event[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=XXX
  response:
    body:
      string: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-04-10T12:02:20Z</responseDate><request>https://zenodo.org/oai2d</request><error
        code="badArgument">metadataPrefix does not exist</error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '39'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '28'
      x-ratelimit-reset:
      - '1775822580'
    status:
      code: 422
      message: UNPROCESSABLE ENTITY
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&from=2026-04-01&metadataPrefix=oai_dc
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&until=2026-04-02&metadataPrefix=oai_dc
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchive[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&from=2026-04-01&until=2026-04-02&metadataPrefix=oai_dc
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http:/[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc&set=XXX
  response:
    body:
      string: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-04-10T12:52:55Z</responseDate><request>https://zenodo.org/oai2d</request><error
        code="noRecordsMatch"></error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '8'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '27'
      x-ratelimit-reset:
      - '1775825584'
    status:
      code: 422
      message: UNPROCESSABLE ENTITY
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&resumptionToken=XXX
  response:
    body:
      string: <?xml-stylesheet type="text/xsl" href="/static/oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2026-04-10T12:54:24Z</responseDate><request>https://zenodo.org/oai2d</request><error
        code="badResumptionToken">The value of the resumptionToken argument is invalid
        or expired.</error></OAI-PMH>
    headers:
      content-type:
      - text/xml; charset=utf-8
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '1775825725'
    status:
      code: 422
      message: UNPROCESSABLE ENTITY
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc&set=software
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"/static/oai2.xsl\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.or[...]
