# Ref: https://github.com/actions/stale
name: Handle stale issues and PRs

on:
  schedule:
    # run once a week at midnight of sunday
  - cron: 0 0 * * 0
  workflow_dispatch: # run manually from actions tab

permissions:
  contents: read

jobs:
  stale:
    runs-on: ubuntu-24.04
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/stale@5bef64f19d7facfb25b37b414482c7164d639639 # v9.1.0
      with:
        days-before-stale: 90
        # handle issues: set to abandoned, close after 14 days with message
        days-before-issue-close: 14
        stale-issue-label: 'status: abandoned'
        stale-issue-message: |
          This issue is stale because it has been open 90 days without activity.
          Remove 'abandoned' label or comment or this will be closed in 14 days.
        close-issue-message: This issue was closed because it has been stalled for 14 days with no activity.

        # handle pull requests: set to abandoned, but do not close per bot
        days-before-pr-close: -1 # never close PRs
        stale-pr-label: 'status: abandoned'
        stale-pr-message: This PR is stale because it has been open 90 days without activity.
